/.vscode
/cpp1.exe
/cpp10_classes.cpp
/cpp10_classes.exe
/cpp11_classes2.cpp
/cpp12_classes3.cpp
/cpp12_classes3.exe
/cpp13_fstream.cpp
/cpp13_fstream.exe
/cpp14_primenumber.cpp
/cpp14_primenumber.exe
/cpp15_factorial.cpp
/cpp15_factorial.exe
/cpp16_try_catch.cpp
/cpp16_try_catch.exe
/cpp17_primenumber2.cpp
/cpp17_primenumber2.exe
/cpp2.cpp
/cpp2.exe
/cpp3_while_loop.cpp
/cpp3_while_loop.exe
/cpp4.cpp
/cpp4.exe
/cpp5.cpp
/cpp5.exe
/cpp6.cpp
/cpp6.exe
/cpp7.cpp
/cpp7.exe
/cpp8.cpp
/cpp8.exe
/cpp9_functions.cpp
/cpp9_functions.exe